body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 32px;
 
}
h1 {
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(46,105,163);
}
h2 {
	font-size: 56px;
}


.hero {
	padding: 250px 0;
	margin: 30px;
}


p {
  font-size: 2rem;

}

.hero a {
	color: #00FFAA;
	font-size: 1.25rem;
	text-decoration: none;
}

 .hero{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
   	color: #ffffff;
   background-size: cover;
   background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
  }
#footer{
  font-size: 0.75rem;
  
}